<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Your description goes here" />
	<meta name="keywords" content="your,keywords,goes,here" />
	<meta name="author" content="Your Name" />
	<link rel="stylesheet" type="text/css" href="variant-classic.css" title="Variant Classic" media="screen,projection" />
	<title>Ayurvedic Clinic</title>
	
  <link rel="stylesheet" href="jquery-ui.css">
  <script src="jquery-1.9.1.js"></script>
  <script src="jquery-ui.js"></script>
  <link rel="stylesheet" href="style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  
</head>

<body>
<div id="top"><div class="inner">

	<div id="topleft">
		<h1><a href="index.html">Ayurvedic Clinic</a></h1>
		<p>Heal at Once...</p>
	</div>

	<br class="clear" />

	<div id="mainmenu">
		<ul>
			<li class="current_page_item"><a href="index.html">Patient</a></li>
			<li><a href="styles.html">Medical</a></li>
			<li><a href="layouts.html">Alternate layout</a></li>
			<li><a href="empty.html">Empty page</a></li>
		</ul>
	</div>
	<br class="clear" />
</div></div>

<div id="wrap"><div class="inner">

	<div id="content">
		<h2>Patient Intake</h2>
        <br>
		<div class="clearfix">
			<table border=0>
				<tr>
					<td>
						&nbsp;&nbsp;
						<!--Dummy for indent-->
					</td>
					<td>
						<fieldset><legend>&nbsp;&nbsp;PERSONAL DETAILS&nbsp;&nbsp;</legend>
							<table border=0 cellspacing="10">
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>First Name</td>
									<td><input type="text" name="patient_first_name" id="patient_first_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Middle Name</td>
									<td><input type="text" name="patient_middle_name" id="patient_middle_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Last Name</td>
									<td><input type="text" name="patient_last_name" id="patient_last_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Address</td>
									<td><textarea name="patient_first_name" id="patient_first_name" cols="22" rows="3" style="resize: none;"   ></textarea></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>DOB and Age</td>
									<td>
										<input type="text" id="datepicker" size=14>
										<input type="text" name="patient_first_name" id="patient_first_name" size="3" value=""></input>
									</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Gender</td>
									<td>
										<select name="patient_first_name" id="patient_first_name" value="">
											<option>--Select--</option>
											<option>Male</option>
											<option>Female</option>
										</select>
									</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Religion</td>
									<td><input type="text" name="patient_middle_name" id="patient_middle_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Country</td>
									<td><input type="text" name="patient_middle_name" id="patient_middle_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Occupation</td>
									<td><input type="text" name="patient_middle_name" id="patient_middle_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Maritial Status</td>
									<td>
										<select name="patient_first_name" id="patient_first_name" value="">
											<option>-- Select --</option>
											<option>Single</option>
											<option>Married</option>
											<option>Divorced</option>
											<option>Widowed</option>
										</select>
									</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
							</table>
						</fieldset>
					</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<fieldset><legend>&nbsp;&nbsp;CONTACT DETAILS&nbsp;&nbsp;</legend>
							<table border=0 cellspacing="10">
								<tr>
									<td colspan=2>&nbsp;</td>
									<td colspan=2><img src="rss.png" height=150 width=111/></td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>E-Mail</td>
									<td><input type="text" name="patient_first_name" id="patient_first_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Mobile</td>
									<td><input type="text" name="patient_middle_name" id="patient_middle_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Telephone</td>
									<td><input type="text" name="patient_last_name" id="patient_last_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Guardian Name</td>
									<td><input type="text" name="patient_last_name" id="patient_last_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Guardian Phone</td>
									<td><input type="text" name="patient_last_name" id="patient_last_name" value=""></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td colspan=4>&nbsp;</td>
								</tr>
							</table>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan=3>
						<br>
						<fieldset><legend>&nbsp;&nbsp;NOTES&nbsp;&nbsp;</legend>
							<table width=100% border=0 cellspacing="10">
								<tr>
									<td>
										<textarea name="patient_first_name" id="patient_first_name" cols="100" rows="5" style="resize: none;"   ></textarea>
									</td>
								</tr>
							</table>
						</fieldset>
					</td>
				</tr>
			</table>
			
		    <p align=center><br><br>
		        <input type="submit" name="Save" value="Save"></input>
		        <input type="button" name="Reset" value="Reset"></input>
		    </p>
		</div>
		<br><br>

	</div>

	<div id="sidebar">
	<p><img src="sample-logo.jpg" alt="Sample sidebar logo" height="100%" width="100%" /></p>

		<fieldset><legend>&nbsp;&nbsp;SEARCH FOR PATIENTS&nbsp;&nbsp;</legend>
			<div class="left">
				<table width=100% border=0 cellspacing="5">
				<tr>
					<td>
						<input type="text" name="patient_last_name" id="patient_last_name" size=20 value="Patient Name(any)"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="patient_last_name" id="patient_last_name" size=20 value="Patient ID"></input>
					</td>
				</tr>
			</table>
			</div>
			
			<div class="right">
				<table width=100% border=0 cellspacing="5">
					<tr>
						<td>
							<input type="text" name="patient_last_name" id="patient_last_name" size=17 value="E Mail"></input>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="patient_last_name" id="patient_last_name" size=17 value="Guardian Name"></input>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>
							<input type="submit" name="Search" value="Search"></input>
						</td>
					</tr>
				</table>
			</div>
		</fieldset>
		<br><br>
		<fieldset><legend>&nbsp;&nbsp;FOUND PATIENTS&nbsp;&nbsp;</legend>
		<br><br><br><br><br><br><br><br>
		</fieldset>
	</div>
</div>
<br class="clear" />
</div>

<div id="footer"><div class="inner">
	<p><span class="credits">&copy; 2010 Your Name / <a href="#">Site title</a> | <a href="#">Sample footer link 1</a> | <a href="#">Sample footer link 2</a></span><br />
	<a href="http://andreasviklund.com/templates/variant-classic/" title="Variant Classic template">Template design</a> by <a href="http://andreasviklund.com/" title="Andreas Viklund">Andreas Viklund</a></p>
</div></div>

</body>
</html>
