<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Your description goes here" />
	<meta name="keywords" content="your,keywords,goes,here" />
	<meta name="author" content="Your Name" />
	<link rel="stylesheet" type="text/css" href="/variant-classic.css" title="Variant Classic" media="screen,projection" />
	<title>Ayurvedic Clinic</title>
	
  <link rel="stylesheet" href="/jquery-ui.css">
  <script src="/jquery-1.9.1.js"></script>
  <script src="/jquery-ui.js"></script>
  <link rel="stylesheet" href="/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>

<body>
<div id="top"><div class="inner">

	<div id="topleft">
		<h1><a href="index.html">Ayurvedic Clinic</a></h1>
		<p>Heal at Once...</p>
	</div>

	<br class="clear" />


	<br class="clear" />
</div></div>

<div class="inner">

<form name="patient" action="/engine/<start> method_name </start>/patient" method="post">

	<input type="hidden" name="" id="" value=""></input>
	<input type="hidden" name="" id="" value=""></input>
	<input type="hidden" name="" id="" value=""></input>


	<table border=0 width="100%" cellspacing="100">
		<col width="35%" />
		<col width="50%" />
		<col width="15%" />
		<tr>
			<td style="text-align: right"></td>
			<td style="text-align: right"></td>
			<td style="text-align: right"></td>
		</tr>

		<tr>
			<td style="text-align: right"></td>
			<td style="text-align: center">
				<fieldset><legend></legend>
					<table width="100%" border=0 cellspacing="15">
						<col width="50%" />
						<col width="50%" />
						<tr>
							<td style="text-align: right">User Name</td>
							<td style="text-align: right">
								<input type="text" name="" id="" size=17 value=""></input>
							</td>
						</tr>
						<tr>
							<td style="text-align: right">Password</td>
							<td style="text-align: right">
								<input type="text" name="" id="" size=17 value=""></input>
							</td>
						</tr>
						<tr>
							<td style="text-align: center" colspan="2">
								<br>
								<input type="submit" name="login" id="login" size=25 value="Login"></input>
								&nbsp;
								<input type="submit" name="reset" id="reset" size=25 value="Reset"></input>
							</td>
						</tr>
					</table>
				</fieldset>
				<br><br>
				<font size="3" color="red">
				Warning! Unauthorised Access / attempt to this site shall be procecuted !!!..
				</font>
			</td>
			<td style="text-align: right"></td>
		</tr>

		<tr>
			<td style="text-align: center" colspan="3">
				
			</td>
			<td style="text-align: right"></td>
			<td style="text-align: right"></td>
		</tr>				
	</table>
</form>

<br class="clear" />

</div>

<div id="footer"><div class="inner">
	<p><span class="credits">&copy; 2014 <a href="#">Dr.G.Kumaran Ayurvedic Clinic</a> | Powered By <a href="http://cnsiva.com"><b>www.CnSiva.com</b></a>
	| Developed By <a href="http://cnsiva.com"><b>S Pandian</b></a> and <a href="http://cnsiva.com"><b>Cn Siva</b></a>
	</span></p>
</div></div>

</body>
</html>
