<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Your description goes here" />
	<meta name="keywords" content="your,keywords,goes,here" />
	<meta name="author" content="Your Name" />
	<link rel="stylesheet" type="text/css" href="/variant-classic.css" title="Variant Classic" media="screen,projection" />
	<title>Ayurvedic Clinic</title>
	
  <link rel="stylesheet" href="/jquery-ui.css">
  <script src="/jquery-1.9.1.js"></script>
  <script src="/jquery-ui.js"></script>
  <link rel="stylesheet" href="/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>

<body>
<div id="top"><div class="inner">

	<div id="topleft">
		<h1><a href="index.html">Ayurvedic Clinic</a></h1>
		<p>Heal at Once...</p>
	</div>

	<br class="clear" />

	<div id="mainmenu">
		<ul>
			<li class="current_page_item"><a href="#">Patient</a></li>
			<li><a href="styles.html">Medical</a></li>
			<li><a href="layouts.html">Alternate layout</a></li>
			<li><a href="empty.html">Empty page</a></li>
		</ul>
	</div>
	<br class="clear" />
</div></div>

<div id="wrap"><div class="inner">

<form name="patient" action="/engine/<start> method_name </start>/patient" method="post">

	<input type="hidden" name="" id="" value=""></input>
	<input type="hidden" name="" id="" value=""></input>
	<input type="hidden" name="" id="" value=""></input>

	<div id="content">
		<div class="clearfix">

			<fieldset><legend>&nbsp;&nbsp;GENERAL DETAILS&nbsp;&nbsp;</legend>
				<table border=0 width="100%" cellspacing="10">
					<tr>
						<td style="text-align: right">last Visit</td>
						<td><input type="text" name="" id="" value="" size="10"></input></td>
						<td style="text-align: right">Next Visit</td>
						<td><input type="text" name="" id="" value="" size="10"></input></td>
						<td style="text-align: right">Problem Area</td>
						<td><input type="text" name="" id="" value="" size="10"></input></td>
					</tr>

					<tr>
						<td style="text-align: right">Food</td>
						<td><input type="text" name="" id="" value="" size="10"></input></td>
						<td style="text-align: right">Pathiyas</td>
						<td><input type="text" name="" id="" value="" size="10"></input></td>
						<td style="text-align: right">Sleep</td>
						<td><input type="text" name="" id="" value="" size="10"></input></td>
					</tr>
				</table>
			</fieldset>

			<br><br>
			
			<fieldset><legend>&nbsp;&nbsp;DESCRIPTIONS&nbsp;&nbsp;</legend>
				<table border=0 width="100%" cellspacing="10">
					<tr>
						<td>
							<!-- Inner Table For Sub fields -->
							<table border=0 width="100%" cellspacing="10">
								<tr>
									<td style="text-align: right">Complaints</td>
									<td><textarea name="" id="" cols="35" rows="3" style="resize: none;"></textarea></td>
									<td style="text-align: right">Signs & Symptoms</td>
									<td><textarea name="" id="" cols="35" rows="3" style="resize: none;"></textarea></td>
								</tr>
								<tr>
									<td style="text-align: right">Treatment Details</td>
									<td><textarea name="" id="" cols="35" rows="3" style="resize: none;"></textarea></td>
									<td style="text-align: right">Improvements</td>
									<td><textarea name="" id="" cols="35" rows="3" style="resize: none;"></textarea></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</fieldset>

			<br><br>

			<fieldset><legend>&nbsp;&nbsp;NOTES&nbsp;&nbsp;</legend>
				<table width=100% border=0 cellspacing="10">
					<tr>
						<td>
							<textarea name="" id="" cols="105" rows="5" style="resize: none;"></textarea>
						</td>
					</tr>
				</table>
			</fieldset>

			<br><br>

			<p align="center">
				<input type="submit" name="submit" value="Save"></input> &nbsp;&nbsp;
				<input type="button" name="reset" value="Reset"></input> &nbsp;&nbsp;
				<input type="button" name="close_record" value="Close Record"></input> &nbsp;&nbsp;
				<input type="button" name="associated" value="get Associates"></input>
			</p>

		</div>
	</div>

</form>


	<div id="sidebar">
	<p><img src="/sample-logo.jpg" alt="Sample sidebar logo" height="100%" width="100%" /></p>

		<form name="patient" action="/engine/search/patient" method="post">
			<fieldset><legend>&nbsp;&nbsp;SEARCH FOR PATIENTS&nbsp;&nbsp;</legend>
					<table width=100% border=0 cellspacing="5">
					<tr>
						<td>
							<input type="text" name="search_by_patient_name" id="search_by_patient_name" size=25 value="<start> search_by_patient_name </start>"></input>
						</td>
						<td> OR</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="search_by_patient_id" id="search_by_patient_id" size=25 value="<start> search_by_patient_id </start>"></input>
						</td>
						<td> OR</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="search_by_email" id="search_by_email" size=25 value="<start> search_by_email </start>"></input>
						</td>
						<td> OR</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="search_by_gname" id="search_by_gname" size=25 value="<start> search_by_gname </start>"></input>
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<p align="center"><input type="submit" name="Search" value="Search"></input></p>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
			<div id="sidebar">
				<form name="patient" action="/engine/load/patient" method="post">
					<input type="hidden" name="search_backup" id="search_backup" size=25 value="<start> search_result </start>"></input>
					<br><br>
					<start> !search_result </start>
				</form>
			</div>
	</div>
</div>
<br class="clear" />

</div>

<div id="footer"><div class="inner">
	<p><span class="credits">&copy; 2014 <a href="#">Dr.G.Kumaran Ayurvedic Clinic</a> | Powered By <a href="http://cnsiva.com"><b>www.CnSiva.com</b></a>
	| Developed By <a href="http://cnsiva.com"><b>S Pandian</b></a> and <a href="http://cnsiva.com"><b>Cn Siva</b></a>
	</span></p>
</div></div>

</body>
</html>
