img {
        margin-left: 110px;
        z-index:-1;
        position:absolute;
    }


.offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}

div#vmenu {
   
   padding: .25em 0em .25em 0em;
   border: solid 1px #30c9e0;
   background: #fcac4c;
   width: 12em;
}

div#vmenu ul {
   
   padding: 0;
   list-style: none;
}

div#vmenu ul li {
   
   padding: 0;
   list-style: none;
}

div#vmenu ul a:link {
   
   padding: .2em 0em .2em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   background-color: #fcac3c;
   color: #0059a0;
   display: block;
}

div#vmenu ul a:active {
   
   padding: .25em .5em .25em .5em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   background: #4d8cba;
   color: #ffffff;
   display: block;
}

div#vmenu ul a:visited {
   
   padding:  .25em .5em .25em .5em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   background: #4d8cba;
   color: #ffffff;
   display: block;
}

div#vmenu ul li a:hover {
   
   padding: .2em 0em .2em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   background-color: #30c9e0;
   color: #ffffff;
   display: block;
} 

.blank_row
{
    height: 700px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}
