<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Your description goes here" />
	<meta name="keywords" content="your,keywords,goes,here" />
	<meta name="author" content="Your Name" />
	<link rel="stylesheet" type="text/css" href="/variant-classic.css" title="Variant Classic" media="screen,projection" />
	<title>Ayurvedic Clinic</title>
	
  <link rel="stylesheet" href="/jquery-ui.css">
  <script src="/jquery-1.9.1.js"></script>
  <script src="/jquery-ui.js"></script>
  <link rel="stylesheet" href="/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  
</head>

<body>
<div id="top"><div class="inner">

	<div id="topleft">
		<h1><a href="index.html">Ayurvedic Clinic</a></h1>
		<p>Heal at Once...</p>
	</div>

	<br class="clear" />

	<div id="mainmenu">
		<ul>
			<li class="current_page_item"><a href="#">Patient</a></li>
			<li><a href="styles.html">Medical</a></li>
			<li><a href="layouts.html">Alternate layout</a></li>
			<li><a href="empty.html">Empty page</a></li>
		</ul>
	</div>
	<br class="clear" />
</div></div>

<div id="wrap"><div class="inner">

<form name="patient" action="/engine/post/patient" method="post">
	<div id="content">
		<h2>Patient Portal {{ patient_id }}</h2>
        <br>
		<div class="clearfix">
			<table border=0>
				<tr>
					<td>
						&nbsp;&nbsp;
						<!--Dummy for indent-->
					</td>
					<td>
						<fieldset><legend>&nbsp;&nbsp;PERSONAL DETAILS&nbsp;&nbsp;</legend>
							<table border=0 cellspacing="10">
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>First Name</td>
									<td><input type="text" name="fname" id="fname" value="{{ fname }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Middle Name</td>
									<td><input type="text" name="mname" id="mname" value="{{ mname }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Last Name</td>
									<td><input type="text" name="lname" id="lname" value="{{ lname }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Address</td>
									<td><textarea name="address" id="address" cols="22" rows="3" style="resize: none;"   >{{ address }}</textarea></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>DOB and Age</td>
									<td>
										<input type="text" id="datepicker" size=14 name="dob" value="{{ dob }}">
										<input type="text" name="age" id="age" size="3" value="{{ age }}"></input>
									</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Gender</td>
									<td>
										<select name="gender" id="gender">
											<option>--Select--</option>
											<option value="Male">Male</option>
											<option value="Female" >Female</option>
										</select>
									</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Religion</td>
									<td><input type="text" name="religion" id="religion" value="{{ religion }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Country</td>
									<td><input type="text" name="country" id="country" value="{{ country }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Occupation</td>
									<td><input type="text" name="occupation" id="occupation" value="{{ occupation }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Maritial Status</td>
									<td>
										<select name="maritial_status" id="maritial_status">
											<option>-- Select --</option>
											<option>Single</option>
											<option>Married</option>
											<option>Divorced</option>
											<option>Widowed</option>
										</select>
									</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
							</table>
						</fieldset>
					</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<fieldset><legend>&nbsp;&nbsp;CONTACT DETAILS&nbsp;&nbsp;</legend>
							<table border=0 cellspacing="10">
								<tr>
									<td colspan=2>&nbsp;</td>
									<td colspan=2><img src="{{ photo_src }}" height=150 width=111/></td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>E-Mail</td>
									<td><input type="text" name="email" id="email" value="{{ email }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Mobile</td>
									<td><input type="text" name="mobile" id="mobile" value="{{ mobile }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Telephone</td>
									<td><input type="text" name="telephone" id="telephone" value="{{ telephone }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Guardian Name</td>
									<td><input type="text" name="gname" id="gname" value="{{ gname }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>Guardian Phone</td>
									<td><input type="text" name="gphone" id="gphone" value="{{ gphone }}"></input></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td colspan=4>&nbsp;</td>
								</tr>
							</table>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan=3>
						<br>
						<fieldset><legend>&nbsp;&nbsp;NOTES&nbsp;&nbsp;</legend>
							<table width=100% border=0 cellspacing="10">
								<tr>
									<td>
										<textarea name="notes" id="notes" cols="100" rows="5" style="resize: none;">{{ notes }}</textarea>
									</td>
								</tr>
							</table>
						</fieldset>
					</td>
				</tr>
			</table>

		    <p align=center><br><br>
		        <input type="submit" name="Save" value="Save"></input>
		        <input type="button" name="Reset" value="Reset"></input>
		    </p>
		</div>
		<br><br>

	</div>
</form>
	<div id="sidebar">
	<p><img src="/sample-logo.jpg" alt="Sample sidebar logo" height="100%" width="100%" /></p>

		<form name="patient" action="/engine/search/patient" method="post">
			<fieldset><legend>&nbsp;&nbsp;SEARCH FOR PATIENTS&nbsp;&nbsp;</legend>
					<table width=100% border=0 cellspacing="5">
					<tr>
						<td>
							<input type="text" name="search_by_patient_name" id="search_by_patient_name" size=25 value="{{ search_by_patient_name }}"></input>
						</td>
						<td> OR</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="search_by_patient_id" id="search_by_patient_id" size=25 value="{{ search_by_patient_id }}"></input>
						</td>
						<td> OR</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="search_by_email" id="search_by_email" size=25 value="{{ search_by_email }}"></input>
						</td>
						<td> OR</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="search_by_gname" id="search_by_gname" size=25 value="{{ search_by_gname }}"></input>
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<p align="center"><input type="submit" name="Search" value="Search"></input></p>
						</td>
					</tr>
				</table>
			</fieldset>
			<div id="sidebar">
			<br><br>
			{{ !search_result }}
			</div>
		</form>
	</div>
</div>
<br class="clear" />

</div>

<div id="footer"><div class="inner">
	<p><span class="credits">&copy; 2014 <a href="#">Dr.G.Kumaran Ayurvedic Clinic</a> | Powered By <a href="http://cnsiva.com"><b>www.CnSiva.com</b></a>
	| Developed By <a href="http://cnsiva.com"><b>S Pandian</b></a> and <a href="http://cnsiva.com"><b>Cn Siva</b></a>
	</span></p>
</div></div>

</body>
</html>
